/* src/components/homepage.css */
.homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-image: url('https://images.inc.com/uploaded_files/image/1920x1080/getty_601373010_378088.jpg'); /* Cambia esto a la URL de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    color: #fff;
}

.header-content {
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente */
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #0056b3;
}
