.adulto-mayor-bg {
    background-color: #f8f9fa; 
    padding: 20px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

.benficios-bg{
    background-color: #ffdef2; 
    padding: 20px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

.beneficios-trabajador-bg {
    background-color: #e9ecee; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

.educacion-bg {
    background-color: #e6f7ff;
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}
    
.card {
    border-radius: 10px; 
}
    
.card-title {
    font-weight: bold;
}
    
.card-text {
    color: #333; 
}
.header-text {
    text-align: center;
    margin: 20px 0; 
}
.App {
    background-color: #b1d5f8; 
    min-height: 100vh; 
    padding-bottom: 50px;
  }

.footer {
    margin-top: 20px; 
  }